
body {
    background-color: beige;
    padding:0;
    margin:0;
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size: medium;
    color:rgb(200, 255, 0);
    width: 33%;
    height:90%;
    background: none;
    border: none;
    border-color: white;
}
button:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255,255,255, 1),
    0 0 50px rgba(255, 255, 255, .8),
    0 0 75px rgba(255, 255, 255, .6),
    0 0 76px rgba(255, 255, 255, .4),
    0 0 77px rgba(255, 255, 255, .5),
    0 0 78px rgba(255, 255, 255, .4),
    0 0 79px rgba(255, 255, 255, .3),
    0 0 80px rgba(255, 255, 255, .2),
    0 0 85px rgba(255, 255, 255, .1);
}
#navBar{
    background-color: black;
    height:40px;
    padding-top: 10px;
}
#main {
    text-align: center;
    width: 100%;
    height: 1000px;
    margin-top: -55px;
}
#menuContainer {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-column-gap: 10px;
    text-align: center;
    border-style: none;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.678);
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: -40px;
    padding:20px;
    border-radius: 10px;
}
#contactContainer {
    
    text-align: center;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.678);
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: -40px;
    padding:20px;
    border-radius: 10px;
}
#homeContainer{
    text-align: center;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.678);
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: -40px;
    padding:20px;
    border-radius: 10px;
    background-size: cover;
}
#discr {
    color:rgb(247, 210, 6);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: x-large;
    font-weight: bold;
    width: 50%;
    margin: auto;
    white-space: pre-wrap;
    margin-top: 100px;
}
.itemDisc{
    background-color: rgba(0, 0, 0, 0.61);
    font-weight: bold;
    width: 90%;
    height: 10%;
    border-radius: 0.5cm;
    text-align: center;
    margin: auto;
}
.combine {
    border-style:hidden;
    padding-top:5%;
    background-size: cover;
    border-radius:0.8cm;
    text-align: center;
}
.contactElement{
    color: rgb(200, 255, 0);
    font-family: helvetica;
}
.item{
    padding-bottom:2cm;
}
#item0{
    color:rgb(250, 142, 0);
    font-weight: bold;
    font-size: 2em;
}
#item1{
    color:rgb(0, 79, 250);
    font-weight: bold;
    font-size: 2em;
}
#item2{
    color:rgb(5, 109, 40);
    font-weight: bold;
    font-size: 2em;}
#item3{
    color:rgb(255, 0, 0);
    font-weight: bold;
    font-size: 2em;}
#item0Disc{
    color:rgb(250, 142, 0);
}
#item1Disc{
    color:rgb(0, 79, 250);
}
#item2Disc{
    color:rgb(5, 109, 40);
}
#item3Disc{
    color:rgb(255, 0, 0);
}

h2{
    color: rgb(255, 255, 0);
    font-family: "Trebuchet MS", sans-serif;
    font-size: 4em;
    letter-spacing: -2px;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    background-color: black;
}
p {
    padding-top: 50px;
}

